    
    {{!-- Show Navbar depending on the status (logged in or not etc.) --}}
    
    <nav>
        <ul>
            <li><a href="/petition">SIGN PETITION</a></li>
            <li><a href="/signers">WHO SIGNED</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/logout">LOGOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signup">SIGN UP</a></li>
        </ul>
    </nav>