    
    {{!-- Show Navbar depending on the status (logged in or not etc.) --}}
    
    <nav>
        <ul>
            {{#if petition}}<li><a href="/petition">SIGN PETITION</a></li>{{/if}}
            {{#if signers}}<li><a href="/signers">WHO SIGNED</a></li>{{/if}}
            <li><a href="/">HOME</a></li>
            {{#if signup}}<li><a href="/signup">SIGN UP</a></li>{{/if}}
            {{#if edit}}<li><a href="/profile/edit">EDIT PROFILE</a></li>{{/if}}
            {{#if logout}}<li><a href="/logout">LOGOUT</a></li>{{/if}}
            {{#if login}}<li><a href="/login">LOGIN</a></li>{{/if}}
        </ul>
    </nav>