{{> navbar home=true signup=true}}

<div class="main-container">

{{#if error}}<div id="input-err">Something went wrong with the login</div>{{/if}}


<form action="" method="POST">
<label for="login-email">E-Mail</label>
<input type="email" id="login-email" placeholder="ENTER EMAIL" name="email" >
<label for="login-pw">Password</label>
<input type="password" id="login-pw"  placeholder="ENTER PASSWORD" name="password">
<button id="login-btn">login</button>
</form>

</div>