{{> navbar home=true}}

{{#if error}}<div id="input-err">something went wrong with the login</div>{{/if}}


<form action="" method="POST">
<label for="login-email">E-Mail</label>
<input type="email" id="login-email" name="email" placeholder="ENTER EMAIL">
<label for="login-pw">Password</label>
<input type="password" id="login-pw" name="password" placeholder="ENTER PASSWORD">
<button id="login-btn">login</button>
</form>
