{{> navbar login=true signup=true home=true}}

<div class="main-container" id="logged-out-container">
<p id="text-container">You are now logged out. If you liked our homepage, please recommend it to your friends and family. Thank you very much</p>
</div>