{{> navbar logout=true edit=true home=true}}
{{! Zeigt das Formular }}
<div class="main-container" id="petition-container">
<h1>Please help musicians around the world and sign this petition.</h1>

{{#if error}}<div id="input-err">Something went wrong</div>{{/if}}

<form action="" method="POST" id="petition-form">
    <label for="signature">PLEASE SIGN HERE:</label>
    <input type="hidden" id="signature" name="signature" />
    <canvas
        id="signature-can"
        height="100"
        width="400"
    ></canvas>
    <div id="try-again">TRY IT AGAIN</div>
    <!-- <input type="hidden" id="signature"> -->
    <button id="submit-btn">SUBMIT</button>
</form>

</div>

<script src="petitionScript.js"></script>

