{{> navbar petition=true home=true edit=true}}

<div class="main-container">
{{#if error}}<div id="input-err">Something went wrong with the registration, please try it again</div>{{/if}}
{{#if wrongUrl}}<div id="input-err">Wrong URL Input, URL has to start with: http:, https: or //</div>{{/if}}


<form action="" method="POST">
<label for="profile-age">Age</label>
<input type="number" id="profile-age" name="age" placeholder="ENTER YOUR AGE">
<label for="profile-city">City</label>
<input type="text" id="profile-city" name="city" placeholder="ENTER HOME CITY">
<label for="profile-url">Homepage</label>
<input type="text" id="profile-url" name="url" placeholder="URL STARTING WITH HTTPS: HTTP: or //">
<button id="signup-btn">continue</button>
</form>
</div>