{{#if error}}<div id="input-err">something went wrong with the registration, please try again</div>{{/if}}

<form action="" method="POST">
<label for="profile-age">Age</label>
<input type="number" id="profile-age" name="age">
<label for="profile-city">City</label>
<input type="text" id="profile-city" name="city">
<label for="profile-homepage">Homepage</label>
<input type="text" id="profile-homepage" name="homepage">
<button id="signup-btn">continue</button>
</form>
