{{> navbar home=true}}

{{!-- <div id="signup-container"> --}}

<div class="main-container" id="signup-container">

{{#if error}}<div id="input-err">Something went wrong with the registration, please try it again</div>{{/if}}

<form action="" method="POST" id="signup-form">
<label for="signup-first">First Name</label>
<input type="text" id="signup-first" name="first">
<label for="signup-last">Last Name</label>
<input type="text" id="signup-last" name="last">
<label for="signup-email">E-Mail</label>
<input type="email" id="signup-email" name="email">
<label for="signup-pw">Password</label>
<input type="password" id="signup-pw" name="password">
<button id="signup-btn">sign up</button>
</form>

<div id="login-here">
<p>If you are already a member, please <a href="/login">login here</a></p>
</div>

{{!-- </div> --}}

</div>