{{> navbar logout=true edit=true signers=true}}

<img id="signature-img" src="{{signatureURL}}" alt="picture of a signature">

<h1>THANK YOU!!! {{count}} People signed the petition so far</h1>

<form action="/thanks/delete" method="POST">
    <button id="delete-signature">Delete Signature</button>
</form>