{{!-- TODO: Update Handlebar: wenn User Logged in ist --}}

{{#if loggedIn}}
{{> navbar logout=true petition=true}}
{{!-- else if signed true --}}
{{else}}
{{> navbar login=true signup=true}}
{{/if}}

{{#if error}}<div id="input-err">Please log in to sign the petition</div>{{/if}}

<h1>Welcome to my Homepage</h1>