{{!-- TODO: Update Handlebar: wenn User Logged in ist --}}

{{#if loggedIn}}
{{> navbar logout=true petition=true edit=true}}
{{!-- else if signed true --}}

{{else if loggedInAndSignedPetition}}
{{> navbar logout=true edit=true signers=true}}

{{else}}
{{> navbar login=true signup=true}}
{{/if}}

{{#if error}}<div id="input-err">Please log in to sign the petition</div>{{/if}}

<div class="main-container" id="welcome-container">
<h1>What would be a world without music?</h1>
<p>People working in the music industry have suffered immensely during the corona pandemic. Tours were cancelled etc.. 
    The Aim of this petition is to get a Basic Income for all musicians and people working in this precarias industrie around the globe</p>
<p>if you would like to support this cause, please sign this petition.</p>
<p>Thank you very much.</p>
</div>