{{#if loggedIn}}
{{> navbar logout=true petition=true edit=true}}
{{!-- else if signed true --}}

{{else if loggedInAndSignedPetition}}
{{> navbar logout=true edit=true signers=true}}

{{else}}
{{> navbar login=true signup=true}}
{{/if}}


<div class="main-container" id="welcome-container">
    <div id="text-container">
<h1>What would be a world without music?</h1>
<p>All of us have been affected by the pandemic, however, people working 
    in the music industry and live performance arts are amongst those who’ve 
    been hit the hardest by the ongoing crisis. With the widespread cancellation 
    of live performances artists have had to scramble to make ends meet financially 
    especially during the current state of streaming culture where 
    artists receive essentially nothing for their recordings.</p>
<br>
<p>The goal of this petition is to lobby for a basic income for artists working in the music and 
performing arts industry. <a href="/signup">Please sign the petition</a>  if you 
want to help keep music, art and our culture alive.</p>
</div>

{{!-- <img src="../public/pictures/drums.jpg" alt="picture of a musician" id="img-welcome"> --}}

</div>