* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* --main-font: "Bebas Neue", cursive; */
    /* --main-font: "Crimson Pro", serif; */
    /* --main-font: "Roboto", sans-serif; */
    --main-font: "Roboto Mono", monospace;
    --bgc-color: #141414;
    --text-color: #f0eff4;
}

body {
    font-family: var(--main-font);
    background-color: #141414;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

h1 {
    margin-bottom: 10px;
}

#img-welcome {
    height: auto;
    width: auto;
}

/*********  MAIN CONTAINER  ********/

.main-container {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/band2.JPG);
    background-position: left center;
    color: rgb(70, 204, 191);
}

#text-container {
    width: 50%;
}

#thanks-container,
#petition-container {
    align-items: center;
}

canvas {
    background-color: var(--text-color);
}

#signature-img {
    margin: 20px;
    background-color: var(--text-color);
}

#text-container a {
    display: inline;
}

/*********  NAVBAR  ********/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    background-color: var(--bgc-color);
}

nav li {
    padding: 10px;
}

nav li:hover {
    background-color: #3b3b3b57;
}

/*********  SIGNUP  ********/

#login-here {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********  FORMS  ********/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 30px;
    align-self: center;
    background-color: var(--bgc-color);
    width: 30%;
}

#delete-form {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

form button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-family: var(--main-font);
}

input {
    width: 350px;
    font-family: var(--main-font);
    padding: 5px;
}

#input-err {
    color: rgb(120, 0, 0);
    align-self: center;
    margin: 15px 0px 15px 10px;
    border: 1px solid rgb(120, 0, 0);
    width: 500px;
    padding: 10px;
    background-color: rgb(253, 182, 182);
    text-align: center;
}

#input-update {
    color: rgb(0, 120, 116);
    align-self: center;
    margin: 15px 0px 15px 10px;
    border: 1px solid rgb(0, 120, 116);
    width: 500px;
    padding: 10px;
    background-color: rgb(182, 253, 230);
    text-align: center;
}

#try-again {
    color: rgb(70, 204, 191);
    padding: 10px;
}
#try-again:hover {
    color: rgb(5, 29, 26);
}

/*********  OTHERS ********/

#signature-img {
    width: 400px;
}

img {
    border: 1px solid grey;
}

nav ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    margin-right: 15px;
}

#signers-list-link {
    display: inline;
}

a {
    text-decoration: none;
    display: flex;
    color: rgb(70, 204, 191);
    text-decoration: underline;
}

nav a {
    text-decoration: none;
}

footer {
    font-size: 0.8rem;
    margin: 10px 10px;
    color: grey;
}

/* ---------------------------- Media Queries -----------------------------------*/

@media screen and (max-width: 375px) {
    /*********  MAIN CONTAINER  ********/

    #text-container {
        width: 100%;
    }

    form {
        width: 100%;
    }

    input {
        width: 100%;
    }

    #input-err {
        width: 100%;
        font-size: 0.75rem;
    }

    #input-update {
        width: 100%;
        font-size: 0.75rem;
    }


}
