* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* --main-font: "Bebas Neue", cursive; */
    /* --main-font: "Crimson Pro", serif; */
    /* --main-font: "Roboto", sans-serif; */
    --main-font: "Roboto Mono", monospace;
    --white: #ffffff;
}

body {
    font-family: var(--main-font);
    background-color: rgb(238, 238, 238);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    /* align-items: center; */
}
h1 {
    margin: 10px;
}

/* #welcome-container {
    flex-grow: 1;
    padding: 30px;
} */
/*********  MAIN CONTAINER  ********/

.main-container {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#thanks-container, #petition-container {
    align-items: center;
}

canvas {
    background-color: #fff;
}

#signature-img {
    margin: 20px;
}

/*********  NAVBAR  ********/

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-color: rgb(183, 212, 238);
}

nav li {
    padding: 10px;
}

nav li:hover {
    background-color: rgba(255, 255, 255, 0.285);
}

/*********  SIGNUP  ********/

#login-here {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********  FORMS  ********/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 30px;
    border: 2px solid grey;
    align-self: center;
}

#petition-form {
    width: 500px;
}

form button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    font-family: var(--main-font);
}
input {
    width: 350px;
    font-family: var(--main-font);
    padding: 5px;
}

/* input:focus-within {
    border: 1px solid rgb(120, 0, 0);
} */

#input-err {
    color: rgb(120, 0, 0);
    align-self: center;
    margin: 15px 0px 15px 10px;
    border: 1px solid rgb(120, 0, 0);
    width: 500px;
    padding: 10px;
    background-color: rgb(253, 182, 182);
    text-align: center;
}

#input-update{
    color: rgb(0, 120, 116);
    align-self: center;
    margin: 15px 0px 15px 10px;
    border: 1px solid rgb(0, 120, 116);
    width: 500px;
    padding: 10px;
    background-color: rgb(182, 253, 230);
    text-align: center;
}

#delete-form {
    border: none;
    /* margin: 5px; */
}

#try-again {
    color: rgb(2, 29, 26);
    padding: 10px;
}
#try-again:hover {
    color: rgb(10, 61, 56);
}


/*********  OTHERS ********/

#signature-img {
    width: 400px;
}

img {
    border: 1px solid grey;
}

nav ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    margin-right: 15px;
}

#signers-list-link {
    display: inline;
}

a {
    text-decoration: none;
    display: flex;
    /* color: rgb(20, 20, 20); */
    color: rgb(10, 61, 56);
}


footer {
    font-size: 0.8rem;
    margin: 10px 10px;
}
