* {
    box-sizing: border-box;
    margin: 0;
}


body {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

canvas {
    background-color: #fff;
}

#input-err {
    color: red;
    margin: 15px 0px 15px 10px;
    border: 1px solid red;
    width: 500px;
    padding: 10px;
    background-color: rgb(255, 225, 225);
    text-align: center;
}

#signature-img {
    width: 400px;
}

img {
    border: 1px solid grey;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    background-color: aliceblue;
    margin-bottom: 30px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 15px;
}

a {
    text-decoration: none;
    display: flex;
}

footer {
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 300px;
}
